<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Daftari - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
        <!-- Import stylesheets here-->
        {% endblock %}
    </head>
    <body>
        <h1>Welcome</h1>
        
        {% block content %}
        {% endblock %}

        {% block scripts %}
        <!-- insert scripts here -->
        {% endblock %}
    </body>
</html>